/* Calendar Section */
/* ============================ */
/* Calendar - calendar.css     */
/* ============================ */

.calendar-box {
  background-color: var(--primary);
  color: #fff;
  padding: 30px;
  border-radius: 16px;
  text-align: center;
  margin: 0 auto 40px auto;
  width: 80%;
  box-shadow: 0 4px 10px rgba(0,0,0,0.15);
}

.calendar-box h1 {
  margin-bottom: 20px;
  font-size: 2.5em;
}

.calendar-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background: #fff;
  color: #333;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.calendar-table thead {
  background-color: var(--primary-dark);
  color: white;
}

.calendar-table th,
.calendar-table td {
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.calendar-table tr:hover {
  background-color: var(--white);
}
