:root {
    --primary: #66B89E;
    --primary-dark: #4c8c78;
    --accent: #FFD369;
    --gray-dark: #333333;
    --gray-light: #AAAAAA;
    --white: #F1F1F1;
    --font-main: 'Poppins', sans-serif;
  }
  